body {
    font-size: 20px;
    font-family: sans-serif;
}

header{
    padding: 9px;
    background-color: paleturquoise;
    border-radius: 10px;
    border:1px solid black;
}

h1{
    padding: 5px;
    text-align: center;
    color: blueviolet;
    border-radius: 10px;
    border:1px solid black;
}

footer{
    padding: 2px;
    background-color: tan;
}

footer p{
    margin: 10px;
    background-color: white;
}

nav a{
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 3px solid navy;
    border-radius: 10px;
    background-color: navy;
}

.pop{
    background-color: white;
    color: royalblue;
}

nav{
    padding: 10px;
}

select{
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: yellowgreen;
}

select option{
    color: white;
    background-color: yellowgreen;
}

.sad{
    padding: 10px;
    border: 5px solid navy;
    border-radius: 10px;
}

h2{
    color: royalblue;
}

.aa{
    text-decoration: none;
    padding: 5px;
    border: 2px solid navy;
    color: navy;
}

main{
    margin: 10px;
}
